<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="components.css" />
    </head>
    <body>
        <!-- Navigation Menu -->
        <nav class="navigation-menu">
            <a href="/" class="logo">
                <img src="logo.png" width="64" height="64" alt="Logo" />
            </a>

            <ul class="menu-pages">
                <li><a href="/">Events</a></li>
                <li><a href="/">Sponsors</a></li>
                <li><a href="/">Company</a></li>
                <li><a href="/">Why Us</a></li>
            </ul>
            <button class="btn secondary-btn login-btn">
                <a href="/"> Login</a>
            </button>
        </nav>

        <div class="spacer"></div>

        <!-- Buttons -->
        <div class="btns-container">
            <button class="btn primary-btn">Primary Button Blue</button>
            <button class="btn secondary-btn">Secondary Button Blue</button>
        </div>
    </body>
</html>
