body {
	background-color: red;
	font-family: "Inter", sans-serif;
}

.event-listing-container {
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 15px;
	border-radius: 15px;
}

.event-listing-header {
	display: flex;
	gap: 10px;
	align-items: center;
}

.event-listing-title-link {
	text-decoration: none;
	font-size: 24px;
}

.event-listing-title-link:hover {
	text-decoration: underline;
}

.category {
	font-size: 14px;
	border: black solid 1px;
	border-radius: 10px;
	padding: 5px 10px;
}

.description-text {
	font-size: 16px;
	margin-top: -5px;
}
